* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #f7f7f7;
  color: #333;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
  background: white;
}

.logo {
  font-size: 29px;
  font-weight: 700;
  color: #3751fe;
}

.navbar nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #666;
  font-size: 20px;
 

}

.navbar nav a.active {
    font-size: 20px;
  color: #3751fe;
  border-bottom: 2px solid #3751fe;
  padding-bottom: 5px;
}

/* Layout */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: calc(100vh - 90px);
  background: white;
}

.icon {
  font-size: 24px;
  color: #8045b8;
}





/* Login Section */
.login-section {
  padding: 80px;
}

.login-section h1 {
  /* font-family: 'open sans'; */
  font-size: 30px;
  color: #3751fe;
  line-height: 1.3;
  margin-bottom: 15px;
}

.subtitle {
  font-size: 14px;
  color: #777;
  margin-bottom: 30px;
}

.login-form {
  max-width: 380px;
}

.login-form label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.login-form input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

.options label {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
}

.options a {
  text-decoration: none;
  color: #3751fe;
}
/* Buttons */
.buttons {
  margin-top: 25px;
  display: flex;
  gap: 15px;
}

.btn-primary {
  background: #3751fe;
  color: #fff;
  border: none;
  padding: 12px 30px;
  cursor: pointer;
  border-radius: 4px;
}

.btn-outline {
  background: transparent;
  color: #3751fe;
  border: 1px solid #3751fe;
  padding: 12px 30px;
  cursor: pointer;
  border-radius: 4px;
}

/* Social */
.social-text {
  margin-top: 30px;
  font-size: 13px;
  color: #777;
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  margin-right: 15px;
  font-size: 13px;
  color: #3751fe;
  text-decoration: none;
}

/* Image Section */
.image-section {
 
  margin-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
}

.image-section img {
  position: absolute;
width: 839px;
height: 480px;
left: 500px;
top: 110px;
}

/* Responsive */
@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }

  .image-section {
    display: none;
  }

  .login-section {
    padding: 50px 30px;
  }
}
